<div class="navbar-container">
  <%= render 'shared/back_button'%>
  <%= render 'shared/title', page_title: "FORGOT PASSWORD"%>
  <%= render 'shared/submit_button', button_title: "Send Me", form_id: "forgot-password-form" %>
</div>


<div class="general-container">
  <p> Send me recovery instructions </p>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: "forgot-password-form"}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="text-input-container">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"%>
    </div>
  <% end %>
</div>
